.index
  .index__header
    - if user_signed_in?
      %h REPS
      %ul
        %li.modal-registe 曲登録
        %li.modal-logout
          =link_to "ログアウト", destroy_user_session_path, method: :delete,data: { confirm: 'ログアウトしますか？' }
    - else
      %h REPS
      %ul
        %li.new-modal 新規登録
        %li.rogin-madal ログイン
  .scroll-header
    - if user_signed_in?
      %h REPS
      %ul
        %li.modal-registe 曲登録
        %li.modal-logout
          =link_to "ログアウト", destroy_user_session_path, method: :delete,data: { confirm: 'ログアウトしますか？' }
    - else
      %h REPS
      %ul
        %li.new-modal 新規登録
        %li.rogin-madal ログイン
  .index__image
    %h REPS
    .index__image__sentence
      %p REPSとは?
  .index__center
    .index__center__index
      -if user_signed_in?
        .index__center__index__contents
          .index__center__index__contents__text
            %p1 登録した曲
            %p2 #{@count.length}曲
            = paginate @order
          - @songs.each do |song|
            .index__center__index__contents__inner
              .index__center__index__contents__inner__name
                %p= song.singer
              .index__center__index__contents__inner__name
                %p= song.song
              %btn-delete
                = link_to 'DELITE',"/songs/#{song.id}", method: :delete ,data: { confirm: '削除しますか？' }
          .paginate
            = paginate @order
        = render"shared/sidebar"
      -else
        .index__center__index__contents
          %h 最近登録された３０曲
          - @list.first(30).each do |index|
            .index__center__index__contents__inner
              .index__center__index__contents__inner__name
                %p= index.singer
              .index__center__index__contents__inner__name
                %p= index.song
        = render"shared/sidebar2"
    %button.topbtn
      %i.fas.fa-arrow-up
= render"shared/denmoku"
= render"shared/denmoku2"
= render"shared/signup"
= render"shared/login"

